<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developed by Orson.io team" name="author">

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/favicon.ico" rel="icon">

  <title>About Me</title>

  <link href="../static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./projects.html" title="">02 : Projects</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About Me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>A Bit of History</h3>
                  <p class="justify-text"><strong>Childhood:</strong> I was born and raised in a large, loving family, I
                    was constantly invited to dream fearlessly! My fondest memories are from those magical times,
                    surrounded by the warmth and affection of my parents, grandparents, uncles, and cousins. <br>Being
                    the eldest of the second generation of cousins, I took my role as the seasoned veteran of family
                    barbecues very seriously. Those were the days — smoke in the air, laughter all around, (sometime a
                    beer - after 16, of course) and a plate always full!</p>

                  <p class="justify-text"><strong>Love for Tech:</strong> From an early age, I was the kid who couldn’t
                    resist tinkering with
                    anything tech-related. My curiosity was my guide, leading me to poke around our home computer until
                    I figured out how it all worked. By the time I was 13, I had managed to install Debian on our family
                    computer — after many, many attempts (and a few frustrated outbursts, I’ll admit). Linux became my
                    playground for years, but back then, I saw it as just a hobby. Little did I know how wrong I
                    was—tech would soon become my true calling.</p>

                  <p class="justify-text"><strong>Choice for Uni:</strong> In my younger days, I thought I had to choose
                    a "grown-up" career,
                    so off I went to law school. I learned a lot and even practiced law for several years, but something
                    within me never quite clicked. While I wore the lawyer's robe, deep down, I felt out of place, like
                    I was living someone else’s life.</p>

                  <p class="justify-text"><strong>Change of Life:</strong> There came a point when life felt... well,
                    let’s say I was
                    channeling my inner Tolkien:<br /> <br>
                    <em>
                      “The world [was] grey, the mountains old<br />
                      The forge's fire is ashen-cold<br />
                      No harp is wrung, no hammer falls<br />
                      The darkness dwells [within my] halls.”<br />
                    </em>

                    <br>
                    The world was monochrome, and I had lost my spark. That’s when I decided to cast aside my legal
                    career and reignite the
                  </p>

                </div>
                <div class="col-xs-12 col-md-6" style="margin-top: 65px;">
                  <img src="../static/assets/images/me.png" class="img-responsive" alt="Me">
                  <br>
                  <p>flame of my childhood passion for tech.</p>
                  <p class="justify-text">
                    <strong>Choice for CS and AUS:</strong> Embracing my love for tech, I decided to dive in 100%. But I
                    didn’t just want to learn — I wanted to push myself out of my comfortzone. So, I packed my bags and
                    moved to Australia, where I’m now finishing up my Master’s Degree in Computer Science in October
                    (already!!). I couldn’t be happier with the path I’ve chosen.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h3>Where to Find Me Outside Uni/Work?</h3>
                  <p class="justify-text">When I’m not buried in code or hitting the studies, you’ll find me indulging
                    in my many hobbies. I’m an avid D&D player, a voracious reader (seriously, you’ll catch me with a
                    book every day), and a bit of a video game enthusiast. Socialising with friends is my soul food, so
                    you might find me out and about, always laughing.</p>

                  <p class="justify-text">Music is another big part of who I am. Most days, you’ll find me dancing
                    around my room to some power metal or folk metal, with massive headphones on to avoid subjecting
                    anyone else to my <em>amazing</em> music taste. But don’t be surprised if you catch me listening to
                    classical music instead — my grandma taught me piano when I was 8... and Beethoven rocks, period.
                  </p>

                  <p class="justify-text">And if there’s a Renaissance fair, anime convention, or anything geeky going
                    on, you can bet I’ll be there! -> [sometimes not dressed as a muggle!]</p>

                  <p>One thing’s for sure: you’ll almost always find me smiling. Life’s too short not to share your
                    smile :) (and that is comming from a Slytherin!!)</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h3>Future</h3>
                  <p class="justify-text">Looking ahead, I’m excited to embark on a career in the tech industry. After
                    years of practicing
                    law, I’ve finally found my true calling in tech. Studying, coding, building projects — it all makes
                    me feel like a wizard brewing the coolest potion (even if it’s just a "hello world" program).</p>

                  <p class="justify-text">To me, learning to code is the closest thing to magic in the real world. It’s
                    not about waving a
                    wand, but there’s something wondrous about the power and potential in those lines of code.</p>

                  <p class="justify-text">Where will the future take me? I can’t say for sure, but I know what drives
                    me. So, let’s hit the
                    road and see where this journey takes us!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/"
              title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/"
              title="Beautiful Free Images">Unsplash</a></p>
        </div>
      </div>
    </div>
  </footer> -->

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <script type="text/javascript" src="../static/main.70a66962.js"></script>
</body>

</html>