<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developed by Orson.io team" name="author">
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/favicon.ico" rel="icon">

  <title>Javascript Project</title>

  <!-- Custom CSS -->
  <link href="../static/main.3f6952e4.css" rel="stylesheet">

  <!-- Include Prism.js for syntax highlighting -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-tomorrow.min.css" rel="stylesheet" />

  <!-- Include FontAwesome for icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./projects.html" title="">02 : Projects</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./project-disser.html" title="">001 Dissertation</a></li>
            <li><a href="./project-python.html" title="">002 Python</a></li>
            <li><a href="./project-js.html" title="" class="active">003 JavaScript</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img src="../static/assets/images/work001-01.jpg" class="img-responsive" alt="">
          <div class="card-container">
            <div class="text-center">
              <h1 class="h2">003 : JavaScript Projects</h1>
            </div>
            <p class="justify-text">This page features a comprehensive JavaScript project: a fully-functional e-commerce
              platform built with React Native. The project demonstrates modern mobile application development
              techniques, such as state management with Redux, API integration, and secure user authentication. Explore
              the project to see how these techniques are applied to create a realistic online shopping experience, from
              browsing products to managing a shopping cart and placing orders.</p>
          </div>
        </div>

        <!-- New Cards with Explore Buttons Added Below -->
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <div class="card">
            <div class="card-body">
              <h3 class="h3">E-Commerce Store</h3>
              <br>
              <p><strong>Description:</strong></p>
              <p class="justify-text">This Application is a comprehensive and fully-functional e-commerce platform
                developed using React Native. This project showcases the integration of modern mobile application
                development techniques, including state management with Redux, API integration, and secure user
                authentication. The application allows users to browse product categories, view detailed product
                information, manage a shopping cart, and place orders, simulating a real-world online shopping
                experience.</p>
              <p><strong>Features:</strong></p>
              <p class="justify-text"> • Cross-Platform Compatibility: Developed with React Native, the application is
                accessible on both Android and iOS devices, ensuring a consistent user experience across platforms.</p>
              <p class="justify-text"> • State Management with Redux: Efficiently manages the global state of the
                application, including
                shopping cart functionalities, ensuring real-time updates and a seamless user experience.</p>
              <p class="justify-text"> • API Integration: Connects with the Fake Store API to fetch product data,
                ensuring dynamic content and
                a responsive interface.</p>
              <p class="justify-text"> • User Authentication: Implements secure sign-up and sign-in functionalities,
                restricting access to
                certain features based on user authentication status.</p>
              <p class="justify-text">• Responsive Design: Features a user-friendly interface with a bottom tab
                navigation system, dynamic
                badge indicators, and responsive design elements for optimal usability.</p>

              <a href="https://github.com/gabrielipcarvalho/E-Commerce_Store" target="_blank">View Source Code
                on GitHub</a>
              <p><br>Or check some selected files below:</p>
              <br>
              <h3 class="h4">Client Side</h3>
              <div style="padding-left: 20px;">
                <div class="row">
                  <div class="col-xs-12">
                    <p><strong> 1. App.js (Store/App.js)</strong></p>
                    <p class="justify-text"> The entry point for the React Native application, setting up navigation
                      and global configurations.</p>
                    <div class="file-panel">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#file27" aria-expanded="false"
                        aria-controls="file27"
                        data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/E-Commerce_Store/main/Store/App.js">
                        <i class="fa fa-chevron-right"></i> app.js
                      </button>
                      <div id="file27" class="collapse">
                        <pre><code class="language-javascript" id="code-file27"></code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div style="padding-left: 20px;">
                <div class="row">
                  <div class="col-xs-12">
                    <p><strong> 2. cartSlice.js (Store/src/redux/slices/cartSlice.js)</strong></p>
                    <p class="justify-text"> Example of one of the Redux slice that handles state management for the
                      shopping cart.</p>
                    <div class="file-panel">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#file28" aria-expanded="false"
                        aria-controls="file28"
                        data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/E-Commerce_Store/main/Store/src/redux/slices/cartSlice.js">
                        <i class="fa fa-chevron-right"></i> cartSlice.js
                      </button>
                      <div id="file28" class="collapse">
                        <pre><code class="language-javascript" id="code-file28"></code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div style="padding-left: 20px;">
                <div class="row">
                  <div class="col-xs-12">
                    <p><strong> 3. BottomTabNavigator.js (Store/src/navigation/BottomTabNavigator.js)</strong></p>
                    <p class="justify-text"> This file manages the bottom tab navigation, showing how it structures user
                      flows within the app.</p>
                    <div class="file-panel">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#file29" aria-expanded="false"
                        aria-controls="file29"
                        data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/E-Commerce_Store/main/Store/src/navigation/BottomTabNavigator.js">
                        <i class="fa fa-chevron-right"></i> BottomTabNavigator.js
                      </button>
                      <div id="file29" class="collapse">
                        <pre><code class="language-javascript" id="code-file29"></code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div style="padding-left: 20px;">
                <div class="row">
                  <div class="col-xs-12">
                    <p><strong> 4. ProductDetailsScreen.js (Store/src/screens/ProductDetailsScreen.js)</strong></p>
                    <p class="justify-text"> Example of one of the App's screens. This screen displays detailed
                      information about a product, highlighting the approach to user interface and data fetching.</p>
                    <div class="file-panel">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#file30" aria-expanded="false"
                        aria-controls="file30"
                        data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/E-Commerce_Store/main/Store/src/screens/ProductDetailsScreen.js">
                        <i class="fa fa-chevron-right"></i> ProductDetailsScreen.js
                      </button>
                      <div id="file30" class="collapse">
                        <pre><code class="language-javascript" id="code-file30"></code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <h3 class="h4">Server Side</h3>
              <div style="padding-left: 20px;">
                <div class="row">
                  <div class="col-xs-12">
                    <p><strong> 1. app.js (Server/app.js)</strong></p>
                    <p class="justify-text"> This file serves as the entry point for the server, setting up the
                      Express application, middleware, and routes.</p>
                    <div class="file-panel">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#file31" aria-expanded="false"
                        aria-controls="file31"
                        data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/E-Commerce_Store/main/Server/app.js">
                        <i class="fa fa-chevron-right"></i> app.js
                      </button>
                      <div id="file31" class="collapse">
                        <pre><code class="language-javascript" id="code-file31"></code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div style="padding-left: 20px;">
                <div class="row">
                  <div class="col-xs-12">
                    <p><strong> 2. cart.test.js (Server/__test__/cart.test.js)</strong></p>
                    <p class="justify-text"> Example of one of test files, demonstrating the approach to ensuring
                      robustness for the application.</p>
                    <div class="file-panel">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#file32" aria-expanded="false"
                        aria-controls="file32"
                        data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/E-Commerce_Store/main/Server/__test__/cart.test.js">
                        <i class="fa fa-chevron-right"></i> cart.test.js
                      </button>
                      <div id="file32" class="collapse">
                        <pre><code class="language-javascript" id="code-file32"></code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div style="padding-left: 20px;">
                <div class="row">
                  <div class="col-xs-12">
                    <p><strong> 3. auth.js (Server/src/middle_ware/auth.js)</strong></p>
                    <p class="justify-text"> Example of the file that handles authentication logic.</p>
                    <div class="file-panel">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#file33" aria-expanded="false"
                        aria-controls="file33"
                        data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/E-Commerce_Store/main/Server/src/middle_ware/auth.js">
                        <i class="fa fa-chevron-right"></i> auth.js
                      </button>
                      <div id="file33" class="collapse">
                        <pre><code class="language-javascript" id="code-file33"></code></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <h3 class="h4">Images</h3>
              <div style="padding-left: 20px;">
                <div class="row">
                  <div class="col-xs-12">
                    <p class="justify-text">Below is a link to view images of the app in action. Please note that this
                      project was primarily focused on learning and consolidating fundamentals, so styling was not a
                      priority.</p>
                    <a href="https://drive.google.com/file/d/1pes8-lzXNc_AfdvTHkZRPC9tbicYpuoA/view?usp=drive_link"
                      target="_blank">Click here to open the images in a new tab.</a>
                  </div>
                </div>
              </div>
            </div>
          </div>




        </div>

        <!-- End of New Cards -->

      </div>
    </div>
  </div>

  <!-- <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/"
              title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/"
              title="Beautiful Free Images">Unsplash</a></p>
        </div>
      </div>
    </div>
  </footer> -->

  <!-- Load JavaScript dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Load Prism.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>

  <!-- Load the specific Python language component for Prism.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js"></script>

  <!-- Custom JS for fetching files and applying syntax highlighting -->
  <script src="../static/js/fetchFiles.js"></script>

</body>

</html>