<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<meta content="description" name="description">
	<meta name="google" content="notranslate" />
	<meta content="Mashup templates have been developed by Orson.io team" name="author">
	<meta name="msapplication-tap-highlight" content="no">

	<link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
	<link href="../static/assets/favicon.ico" rel="icon">

	<title>Python Projects</title>

	<!-- Custom CSS -->
	<link href="../static/main.3f6952e4.css" rel="stylesheet">

	<!-- Include Prism.js for syntax highlighting -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-tomorrow.min.css" rel="stylesheet" />

	<!-- Include FontAwesome for icons -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
	<div id="site-border-left"></div>
	<div id="site-border-right"></div>
	<div id="site-border-top"></div>
	<div id="site-border-bottom"></div>

	<!-- Add your content of header -->
	<header>
		<nav class="navbar  navbar-fixed-top navbar-default">
			<div class="container">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav ">
						<li><a href="./index.html" title="">01 : Home</a></li>
						<li><a href="./projects.html" title="">02 : Projects</a></li>
						<li><a href="./about.html" title="">03 : About me</a></li>
						<li><a href="./contact.html" title="">04 : Contact</a></li>
						<li><a href="./components.html" title="">05 : Components</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
						<li><a href="./project-disser.html" title="">001 Dissertation</a></li>
						<li><a href="./project-python.html" title="" class="active">002 Python</a></li>
						<li><a href="./project-js.html" title="">003 JavaScript</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="section-container">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<img src="../static/assets/images/work001-01.jpg" class="img-responsive" alt="">
					<div class="card-container">
						<div class="text-center">
							<h1 class="h2">002 : Python Projects</h1>
						</div>
						<p class="justify-text">This page contains the Python projects I have developed, showcasing the
							technologies, APIs, and libraries used in each project. Explore the projects below to learn
							more about my
							work.</p>
					</div>
				</div>

				<!-- New Cards with Explore Buttons Added Below -->
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="card">
						<div class="card-body">
							<h3 class="h4">Slot Machine</h3>
							<p class="justify-text">This Python-based slot machine game allows users to place bets, spin
								reels, and check winnings. Key features include configurable symbols, a dynamic betting
								system, and an interface. The project is structured using functions for clarity. It also
								implements logic for user input, betting, and winnings.</p>
							<a href="https://github.com/gabrielipcarvalho/SlotMachine" target="_blank">View Source Code
								on GitHub</a>
							<p><br>Or check the main file below:</p>

							<div class="row">
								<div class="col-xs-12">

									<div class="file-panel">
										<button class="btn btn-link" data-toggle="collapse" data-target="#file18"
											aria-expanded="false" aria-controls="file18"
											data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/SlotMachine/main/main.py">
											<i class="fa fa-chevron-right"></i> slot_machine.py
										</button>
										<div id="file18" class="collapse">
											<pre><code class="language-python" id="code-file18"></code></pre>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="card">
						<div class="card-body">
							<h3 class="h4">Finance Tracker</h3>
							<p class="justify-text">This Python-based personal finance tracker allows users to manage
								and analyse their
								income and expenses efficiently. Key features include the ability to record
								transactions, categorise them as income or expenses, and view a summary of transactions
								within a specified date range. The project leverages essential Python libraries such as
								<em>pandas</em> for data manipulation, <em>csv</em> for handling data storage, and
								<em>matplotlib</em> for
								visualising financial trends over time.
							</p>
							<p class="justify-text">The project is structured using functions and classes for clarity
								and reusability,
								employing a CSV-based storage system for lightweight data management. The command-line
								interface prompts users for transaction details, with built-in error handling to
								validate inputs. Additionally, the project features graphical visualisation of income
								and expenses, allowing users to track their financial performance over time.</p>
							<a href="https://github.com/gabrielipcarvalho/FinanceTracker" target="_blank">View Source
								Code
								on GitHub</a>
							<p><br>Or check the main files below:</p>

							<div class="row">
								<div class="col-xs-12">

									<div class="file-panel">
										<button class="btn btn-link" data-toggle="collapse" data-target="#file19"
											aria-expanded="false" aria-controls="file19"
											data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/FinanceTracker/main/main.py">
											<i class="fa fa-chevron-right"></i> main.py
										</button>
										<div id="file19" class="collapse">
											<pre><code class="language-python" id="code-file19"></code></pre>
										</div>
									</div>

									<div class="file-panel">
										<button class="btn btn-link" data-toggle="collapse" data-target="#file20"
											aria-expanded="false" aria-controls="file20"
											data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/FinanceTracker/main/data_entry.py">
											<i class="fa fa-chevron-right"></i> data_entry.py
										</button>
										<div id="file20" class="collapse">
											<pre><code class="language-python" id="code-file20"></code></pre>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="card">
						<div class="card-body">
							<h3 class="h4">Password Checker</h3>
							<p class="justify-text">This project includes two Python scripts for checking if passwords
								have been compromised
								using the Pwned Passwords API. The first script, `checkmypass.py`, checks passwords
								provided as command-line arguments by hashing them and querying the API. The second
								script, `pwd_checker.py`, allows users to input passwords via a temporary file opened in
								Vim, which are then checked against the API. The second script is particularly important
								as it prevents passwords from being stored in command logs, enhancing security by
								keeping sensitive information out of the shell history. Both scripts use functions to
								handle API requests, process data, and provide feedback on password safety. The use of
								SHA-1 hashing and API integration ensures an effective and secure method for password
								checking.</p>
							<a href="https://github.com/gabrielipcarvalho/PasswordChecker" target="_blank">View Source
								Code
								on GitHub</a>
							<p><br>Or check the main files below:</p>

							<div class="row">
								<div class="col-xs-12">

									<div class="file-panel">
										<button class="btn btn-link" data-toggle="collapse" data-target="#file21"
											aria-expanded="false" aria-controls="file21"
											data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/PasswordChecker/main/checkmypass.py">
											<i class="fa fa-chevron-right"></i> checkmypass.py
										</button>
										<div id="file21" class="collapse">
											<pre><code class="language-python" id="code-file21"></code></pre>
										</div>
									</div>

									<div class="file-panel">
										<button class="btn btn-link" data-toggle="collapse" data-target="#file22"
											aria-expanded="false" aria-controls="file22"
											data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/PasswordChecker/main/pwd_checker.py">
											<i class="fa fa-chevron-right"></i> pwd_checker.py
										</button>
										<div id="file22" class="collapse">
											<pre><code class="language-python" id="code-file22"></code></pre>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="card">
						<div class="card-body">
							<h3 class="h4">Automation</h3>
							<p class="justify-text">This Python script automates a browser interaction using Selenium
								WebDriver. The script navigates to a demo webpage, inputs a message into a text box,
								clicks a button to display the message, and verifies the output. The use of Selenium
								allows for automated browser testing, making it a valuable tool for web development and
								QA. The script is structured to maximise efficiency, including waiting for elements to
								become clickable and ensuring that the correct message is displayed. This automation
								provides a straightforward example of how to use Selenium for testing user interactions
								on a web page, ensuring functionality and reliability in web applications.</p>
							<a href="https://github.com/gabrielipcarvalho/Automation" target="_blank">View Source Code
								on GitHub</a>
							<p><br>Or check the main file below:</p>

							<div class="row">
								<div class="col-xs-12">

									<div class="file-panel">
										<button class="btn btn-link" data-toggle="collapse" data-target="#file23"
											aria-expanded="false" aria-controls="file23"
											data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/Automation/main/automation.py">
											<i class="fa fa-chevron-right"></i> automation.py
										</button>
										<div id="file23" class="collapse">
											<pre><code class="language-python" id="code-file23"></code></pre>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="card">
						<div class="card-body">
							<h3 class="h4">Scraper</h3>
							<p class="justify-text">
								This Python script fetches and processes news stories from the Hacker News website using
								requests and BeautifulSoup. It retrieves the first two pages of Hacker News, filters the
								stories based on a vote threshold, and sorts them by the number of votes. The script is
								well-structured, with functions to handle fetching, parsing, and filtering the data. By
								combining data from multiple pages and sorting stories by popularity, it provides a
								curated list of top stories, making it a useful tool for quickly identifying trending
								content.</p>
							<a href="https://github.com/gabrielipcarvalho/Scraper" target="_blank">View Source
								Code
								on GitHub</a>
							<p><br>Or check the main file below:</p>

							<div class="row">
								<div class="col-xs-12">

									<div class="file-panel">
										<button class="btn btn-link" data-toggle="collapse" data-target="#file24"
											aria-expanded="false" aria-controls="file24"
											data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/Scraper/main/main.py">
											<i class="fa fa-chevron-right"></i> main.py
										</button>
										<div id="file24" class="collapse">
											<pre><code class="language-python" id="code-file24"></code></pre>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="card">
						<div class="card-body">
							<h3 class="h4">SMS Sender</h3>
							<p class="justify-text">This Python script sends SMS messages using the Twilio API. It
								securely loads credentials from a .env file, ensuring sensitive information is kept
								private. After retrieving the Twilio account SID and authentication token, the script
								creates a Twilio Client instance to send a message to a specified phone number. The
								script is straightforward, demonstrating the ease of integrating Twilio
								for automated messaging.The script exemplifies how to automate SMS notifications with
								minimal code.</p>
							<a href="https://github.com/gabrielipcarvalho/PythonSMS" target="_blank">View Source
								Code
								on GitHub</a>
							<p><br>Or check the main file below:</p>

							<div class="row">
								<div class="col-xs-12">

									<div class="file-panel">
										<button class="btn btn-link" data-toggle="collapse" data-target="#file25"
											aria-expanded="false" aria-controls="file25"
											data-file-url="https://raw.githubusercontent.com/gabrielipcarvalho/PythonSMS/main/sms.py">
											<i class="fa fa-chevron-right"></i> sms.py
										</button>
										<div id="file25" class="collapse">
											<pre><code class="language-python" id="code-file25"></code></pre>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End of New Cards -->

			</div>
		</div>
	</div>

	<footer class="footer-container text-center">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/"
							title="Create website with free html template">Mashup Template</a>/<a
							href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
				</div>
			</div>
		</div>
	</footer>

	<!-- Load JavaScript dependencies -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<!-- Load Prism.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>

	<!-- Load the specific Python language component for Prism.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js"></script>

	<!-- Custom JS for fetching files and applying syntax highlighting -->
	<script src="../static/js/fetchFiles.js"></script>

</body>

</html>